#title {
  text-align: center;
}
#main {
  background-color: rgba(76, 15, 80, 0.7);
  color: white;
  border-radius: 10px;
  padding: 2rem;
  max-width: 30rem;
  margin: 0 auto;
}
#survey-form > div {
  margin-bottom: 27px;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-section label {
  margin-bottom: 15px;
}

#submit {
  cursor: pointer;
  display: block;
  padding: 6px 10px 6px 10px;
  width: 90%;
  margin: 0 auto;
  color: white;
  background: brown;
  border: white 2px solid;
}

input {
  padding: 6px;
  border-radius: 5px;
  border: none;
}

select {
  padding: 6px;
  border-radius: 5px;
  border: none;
}
